/* styles.css */

* {
	font-family: Arial;
	line-height: 1.4em;
	color:white
}

body.homepage {
	background-color: #f28100;
}

body.punch {
	background-color: rgb(255, 120, 120);
}

body.simply {
	background-color: rgb(255, 186, 195);
}

body.suja {
	background:linear-gradient(0deg,rgb(23, 63, 26) 0%, rgba(255, 195, 76, 1) 100%);
	background-attachment: fixed;
}

p a {
	font-family:'Lato', monospace;
	font-size: 1.1em;
	color: dodgerblue;
	text-decoration: none;
	font-weight: bold;
}

p a:hover {
	color: dodgerblue;
	border-bottom: 2px dotted dodgerblue;
}

ul.choices {
	list-style-type: none;
	width: 90%;
}

ul.choices li a {
	color: dodgerblue;
	text-decoration: none;
	font-weight: bold;
	margin:10px;
	padding:1px 2px;
}

ul.choices li a:hover {
	color: rgb(107, 133, 189);
	background-color: #282f3d;
}

img {
	padding: 20px;
	border-radius: 10px 40px 5px 0;
}

img:hover{
	background: #000;
}

h1 {
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Isometra", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
	font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}

h4{
	font-family: "Strait", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}